
.mainBox {
  padding: 1rem;
}

.subBox {
  margin-bottom: 1rem;
}

.tableButton {
  margin: 0.5rem;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  padding: 1rem;
  box-shadow: 24;
}

